@model TP3_NET.Models.Commande.CommandeViewModel

@{
    ViewBag.Title = "Consultation de commande";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Commande n°@Model.IdCommande</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DateCommande)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCommande)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartSouhaitee)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartSouhaitee)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RueAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RueAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplementAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplementAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VilleAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VilleAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaysAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaysAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodePostalAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodePostalAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RueAA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RueAA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplementAA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplementAA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VilleAA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VilleAA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaysAA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaysAA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodePostalAA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodePostalAA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frequence)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequence)
        </dd>
    </dl>

    @{
        Html.RenderAction("ListeConsultable", "Marchandise", new { marchandises = Model.Marchandises });
    }

</div>
<p>
    @Html.ActionLink("Retour à mes commandes", "MesCommandes")
</p>