@model TP3_NET.Models.Employe.Technicien

@{
    ViewBag.Title = "Consultation d'un technicien";
}

<h2>Consultation d'un technicien</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prenom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Prenom)
        </dd>
        @if (Model.Competences != null)
        {
            <ul class="list-group">
                @foreach (var competence in Model.Competences)
                {
                    <li class="list-group-item">@competence.TypeCompetence</li>
                }
            </ul>
        }
    </dl>
    <a class="btn btn-primary" href="@Url.Action("Modifier", new {id = Model.IdEmploye})">Modifier le conducteur</a>
</div>
<div class="mt-2">
    @Html.ActionLink("Retour à la liste des techniciens", "Liste")
</div>